@model IEnumerable<FindLecturerApplication.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="~/BlogPosts/Index">
    Search <input type="text" name="name" class="input-sm" placeholder="Filter the posts by title" />
    <input type="submit" value="Filter" class="btn btn-default" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
       
        <td>
            @Html.ActionLink("Read", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
